<div class="navbar">
    <div class="nav-home-link"> <%= link_to "Simple Airbnb", flats_path, class: "navbar-brand" %></div>
    <div> <%= link_to "Add a flat", new_flat_path, class: "btn btn-outline-success" %></div>
</div>

<div class="booking-infos">
  <div class="booking-text">
    <div>
      <h1><%= @flat.name %></h1>
      <p><%= @flat.address %></p>
    </div>

    <div>
      <h3>A bit more about this flat</h3>
      <p><%= @flat.description %></p>
    </div>
  </div>

  <div class="booking-form">
    <div>
      <p>Book this place!</p>
      <div class="form-group">
        <label for="exampleInputdate1">Arrival date</label>
        <input type="date" class="form-control" placeholder="10/11/2017">
      </div>
      <div class="form-group">
        <label for="exampleInputdate2">Leaving date</label>
        <input type="date" class="form-control" placeholder="15/11/2017">
      </div>
      <button class="btn btn-primary" type="submit">Book</button>
    </div>

    <div>
      <h3>Details</h3>
      <p><i class="fas fa-users"></i> <%= @flat.number_of_guests%> <i class="fas fa-euro-sign"></i> <%= @flat.price_per_night %></p>
    </div>
  </div>
</div>
